form {
    border-style: solid;
    border-width: thin;
    width: 380px;
    margin: 10px, 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
}

* {
    font-family: Nunito;
    border: none;
}

span {
    top: -30px;
    left: -60px;
    width: 25px;
    height: 25px;
    background-color: rgb(54, 189, 144);
    color: white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    font-size: 16px;
    margin: 0px;
    padding: auto;
    height: auto;
    width: 100%;
    background-color:rgb(211, 212, 211);
}

textarea {
    background-color:rgb(211, 212, 211);
}

div{
    margin: 10px;
}

select {
    width: 325px;
    background-color:rgb(211, 212, 211);
}

button {
    width: 325px;
    height: 30px;
    background-color: rgb(16, 175, 122);
    color: white;
}
